<div class="topic-index-wrapper">
    <div class="container">
      <div class="row">
        <h2 class="text-center"><%= @user.name %>のお気に入り</h2>
        <% @favorites.each do |f| %>
          <div class="topic-index-container">
            <div class="this-user-container">
              
              <%= link_to user_path(id: f.topic.user_id), class: 'mypage-url' do %>
                <%= image_tag f.topic.user.icon.url, size: "80x80" %>
                <h3><%= f.topic.user.name %></h3>
              <% end %>
              
            </div>
            
            <div class="topic-info">
              
              <div class="topic-book-info">
                <h2 class="topic-title"><%= f.topic.title %></h2>
                <% if !f.topic.thumbnail.nil? %>
                  <div><img src="<%= f.topic.thumbnail %>" alt="Book thumbnail"></div>
                <% end %>
                <p><%= f.topic.author %></p>
                <% unless current_user?(f.topic.user) %>
                  <div>
                    <%= link_to comment_new_path(topic_id: f.topic.id), class: 'comment-url' do %>
                      <i class="far fa-comment-dots fa_comment"></i>
                    <% end %>
                    
                    <% if !f.topic.favorite_users.include?(current_user) %>
                      <%= link_to favorites_path(topic_id: f.topic.id), method: :post, class: 'favorite-url' do %>
                        <i class="far fa-heart fa_heart"></i>
                      <% end %>
                    <% elsif f.topic.favorite_users.include?(current_user) %>
                      <%= link_to favorites_delete_path(topic_id: f.topic.id), method: :delete, class:'favorite-url' do %>
                        <i class="fas fa-heart fa_heart2"></i>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
              
              <div class="topic-content-info">
                <p class="topic-content"><%= f.topic.content %></p>
              </div>
              
            </div>
            
            <% f.topic.comments.each do |c| %>
              <div class="topic-comment">
                
                <div class="topic-comment-user">
                  <div class="comment-user-container">
                    <%= link_to user_path(id: c.user.id), class: 'comment-user-url' do %>
                      <%= image_tag c.user.icon.url, size: "30x30" %>
                      <P class="comment-user"><%= c.user.name%></P>
                    <% end %>
                  </div>
                  <p class="comment-content"><%= c.content %></p>
                </div>
                
                <div class="comment-del-url">
                  <%= link_to comment_delete_path(id: c.id), method: :delete do %>
                    <i class="fas fa-trash-alt fa_trash"></i>
                  <% end %>
                </div>
                
              </div>
            <% end %>
            
          </div>
        <% end %>
      </div>
    </div>
  </div>