<% if logged_in? %>
  <div class="topic-index-wrapper">
    <div class="container">
      <div class="row">
        <h1 class="text-center">Time Line</h1>
        <% @topics.each do |topic| %>
          <div class="topic-index-container">
            <%= link_to user_path(id: topic.user_id), class: 'mypage-url' do %>
              <%= image_tag topic.user.icon.url, size: "80x80" %>
              <h3><%= topic.user.name %></h3>
            <% end %>
            
            <div class="topic-info">
              
              <div class="topic-book-info">
                <h2 class="topic-title"><%= topic.title %></h2>
                <% if !topic.thumbnail.nil? %>
                  <div><img src="<%= topic.thumbnail %>" alt="Book thumbnail"></div>
                <% end %>
                <p><%= topic.author %></p>
                <% unless current_user?(topic.user) %>
                  <div>
                    <%= link_to "コメント", comment_new_path(topic_id: topic.id), class: 'comment-url' %>
                    
                    <% if !topic.favorite_users.include?(current_user) %>
                      <%= link_to "Like！", favorites_path(topic_id: topic.id), method: :post, class: 'favorite-url' %>
                    <% elsif topic.favorite_users.include?(current_user) %>
                      <%= link_to "Un Like!", favorites_delete_path(topic_id: topic.id), method: :delete, class:'favorite-url' %>
                    <% end %>
                  </div>
                <% end %>
              </div>
              
              <div class="topic-content-info">
                <p class="topic-content"><%= topic.content %></p>
              </div>
              
            </div>
            
            <% topic.comments.each do |c| %>
              <div class="topic-comment">
                
                <div class="topic-comment-user">
                  <div class="comment-user-container">
                    <%= link_to user_path(id: c.user.id), class: 'comment-user-url' do %>
                      <%= image_tag c.user.icon.url, size: "30x30" %>
                      <P class="comment-user"><%= c.user.name%></P>
                    <% end %>
                  </div>
                  <p class="comment-content"><%= c.content %></p>
                </div>
                
                <div class="comment-del-url">
                  <%= link_to "コメント削除", comment_delete_path(id: c.id), method: :delete %>
                </div>
                
              </div>
            <% end %>
            
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <% flash.now[:danger] = "ログインしてください" %>
  <% redirect_to login_path %>
<% end %>