<% if logged_in? %>
  <div class="topic-index-wrapper">
    <div class="container">
      <div class="row">
        <h1>Time Line</h1>
        <% @topics.each do |topic| %>
          <div class="topic-index-container">
            <%= link_to user_path(id: topic.user_id) do %>
              <h3><%= topic.user.name %></h3>
            <% end %>
            <h2><%= topic.title %></h2>
            <p><%= topic.content %></p>
            
            <%= link_to "コメント", comment_new_path(topic_id: topic.id) %>
            
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to "Like！", favorites_path(topic_id: topic.id), method: :post %>
            <% elsif topic.favorite_users.include?(current_user) %>
              <%= link_to "Un Like!", favorites_delete_path(topic_id: topic.id), method: :delete %>
            <% end %>
            
            <%= link_to "削除", topic_path(id: topic.id), method: :delete %>
            
            <% topic.comments.each do |c| %>
              <P><%= c.user.name%></P>
              <p><%= c.content %></p>
              <%= link_to "コメント削除", comment_delete_path(id: c.id), method: :delete %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <% flash.now[:danger] = "ログインしてください" %>
  <% redirect_to login_path %>
<% end %>