<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="users-new-container">
        <h1 class="text-center">Update2 <%= @user.name %></h1>
        
        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :icon, class: 'text-black' %>
            <%= f.file_field :icon, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :content, class: 'text-black' %>
            <%= f.text_area :content, class: 'form-control' %>
          </div>
          
          <%= f.submit "更新", class: 'btn-block btn-black' %>
        <% end %>
        
      </div>
    </div>
  </div>
  
</div>