<div class="user-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="user-show-container">
        <div class="user-icon">
          <%= link_to edit2_user_path(current_user) do %>
            <%= image_tag 'icon/user-icon.jpg' %>
          <% end %>
        </div>
        <h2><%= @user.name %></h2>
        
        <% if current_user?(@user) %>
          <%= link_to "編集", edit_user_path(current_user) %>
        <% end %>
        
        <div class="user-show-follow">
          <%= render 'follow_form' %>
        </div>
        
        <div class="user-self-intro">
          <%= @user.content %>
        </div>
      </div>
    </div>
    
  </div>
</div>