<% if logged_in? %>
  <div class="topic-index-wrapper">
    <div class="container">
      <div class="row">
        <h1 class="text-center"><%= @user.name %>の投稿</h1>
        <% if @user.topics.any? %>
        
          <%= will_paginate @topics, class: 'text-center' %>
          <% @topics.each do |topic| %>
            <div class="topic-index-container">
              <div class="this-user-container">
                
                <%= link_to user_path(id: topic.user_id), class: 'mypage-url' do %>
                  <%= image_tag topic.user.icon.url, size: "80x80" %>
                  <h3><%= topic.user.name %></h3>
                <% end %>
                
                <% if current_user?(@user) %>
                  <%= link_to topic_path(id: topic.id), method: :delete, class: 'this-user-del-url' do %>
                    <i class="fas fa-trash-alt fa_trash"></i>
                  <% end %>
                <% end %>
                
              </div>
              
              <div class="topic-info">
              
                <div class="topic-book-info">
                  <h2 class="topic-title"><%= topic.title %></h2>
                  <% if !topic.thumbnail.nil? %>
                    <div><img src="<%= topic.thumbnail %>" alt="Book thumbnail"></div>
                  <% end %>
                  <p><%= topic.author %></p>
                  <% unless current_user?(topic.user) %>
                    <div>
                      <%= link_to comment_new_path(topic_id: topic.id), class: 'comment-url' do %>
                        <i class="far fa-comment-dots fa_comment"></i>
                      <% end %>
                      
                      <% if !topic.favorite_users.include?(current_user) %>
                        <%= link_to favorites_path(topic_id: topic.id), method: :post, class: 'favorite-url' do %>
                          <i class="far fa-heart fa_heart"></i>
                        <% end %>
                      <% elsif topic.favorite_users.include?(current_user) %>
                        <%= link_to favorites_delete_path(topic_id: topic.id), method: :delete, class:'favorite-url' do %>
                          <i class="fas fa-heart fa_heart2"></i>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                  
                  <%= form_for @book do |f| %>
                    
                    <%= f.hidden_field :title, value: topic.title, class: 'js-title' %>
                    
                    <%= f.hidden_field :author, value: topic.author, class: 'js-author' %>
                    
                    
                    <%= f.hidden_field :published, value: topic.published, class: 'js-published' %>
                    
                    
                    <%= f.hidden_field :thumbnail, value: topic.thumbnail, class: 'js-thumbnail' %>
                    
                    
                    <%= f.hidden_field :description, value: topic.description, class: 'js-description' %>
                    
                    
                    <%= f.submit "My Books", class: 'my_book_submit' %>
                  <% end %>
                </div>
              
                <div class="topic-content-info">
                  <p class="topic-content"><%= topic.content %></p>
                </div>
              
              </div>
            
              <% topic.comments.each do |c| %>
                <div class="topic-comment">
                  
                  <div class="topic-comment-user">
                    <div class="comment-user-container">
                      <%= link_to user_path(id: c.user.id), class: 'comment-user-url' do %>
                        <%= image_tag c.user.icon.url, size: "30x30" %>
                        <P class="comment-user"><%= c.user.name%></P>
                      <% end %>
                    </div>
                    <p class="comment-content"><%= c.content %></p>
                  </div>
                  
                  <div class="comment-del-url">
                    <%= link_to comment_delete_path(id: c.id), method: :delete do %>
                      <i class="fas fa-trash-alt fa_trash"></i>
                    <% end %>
                  </div>
                  
                </div>
              <% end %>
            
            </div>
          <% end %>
          <%= will_paginate @topics, class: 'text-center' %>
          
        <% else %>
          <p class="text-center">投稿をまだ行っていません</p>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <% flash.now[:danger] = "ログインしてください" %>
  <% redirect_to login_path %>
<% end %>