<div class="new-book-container3">
  <div class="new-book-info">
    <%= form_for @book do |f| %>
      
      <div class="search-result">
        <label for="search-title">書籍タイトル：</label>
        <p id="booktitle3"></p>
        <%= f.hidden_field :title, class: 'js-title3' %>
      </div>
      
      <div class="search-result">
        <label for="search-title">著者：</label>
        <p id="bookauthor3"></p>
        <%= f.hidden_field :author, class: 'js-author3' %>
      </div>
      
      <div class="search-result">
        <label for="search-title">出版日：</label>
        <p id="publisheddate3"></p>
        <%= f.hidden_field :published, class: 'js-published3' %>
      </div>
      
      <div class="search-result">
        <label for="search-title">書籍サムネイル：</label>
        <p id="bookthumbnail3"></p>
        <%= f.hidden_field :thumbnail, class: 'js-thumbnail3' %>
      </div>
      
      <div class="search-result">
        <label for="search-title">書籍概要：</label>
        <p id="bookdescription3"></p>
        <%= f.hidden_field :description, class: 'js-description3' %>
      </div>
      
      
      <%= f.submit "My Books", class: 'btn-block btn-black btn' %>
      
    <% end %>
    
    <%= form_for @topic, url: new_topic_path, method: :get do |f| %>
      
      
      <%= f.hidden_field :title, class: 'js-title3' %>
      
      <%= f.hidden_field :author, class: 'js-author3' %>
      
      
      <%= f.hidden_field :published, class: 'js-published3' %>
      
      
      <%= f.hidden_field :thumbnail, class: 'js-thumbnail3' %>
      
      
      <%= f.hidden_field :description, class: 'js-description3' %>
      
      
      <%= f.submit "書籍を紹介", class: 'btn-block btn-black btn' %>
      
      
    <% end %>
  </div>
</div>