<div class="new-book-wrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Search Books</h1>
      <div class="new-book-search-container">
        <div class="form-group">
          <label for="title">書籍のタイトルを入力してください</label>
          <input type="text" class="form-control" id="title" placeholder="書籍のタイトル">
        </div>
      </div>
      
      <div class="new-book-container1">
        
        <div class="new-book-info">
          <%= form_for @book do |f| %>
            
            <div class="search-result">
              <label for="search-title">書籍タイトル：</label>
              <p id="booktitle"></p>
              <%= f.hidden_field :title, class: 'js-title' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">著者：</label>
              <p id="bookauthor"></p>
              <%= f.hidden_field :author, class: 'js-author' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">出版日：</label>
              <p id="publisheddate"></p>
              <%= f.hidden_field :published, class: 'js-published' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">書籍サムネイル：</label>
              <p id="bookthumbnail"></p>
              <%= f.hidden_field :thumbnail, class: 'js-thumbnail' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">書籍概要：</label>
              <p id="bookdescription"></p>
              <%= f.hidden_field :description, class: 'js-description' %>
            </div>
            
            
            <%= f.submit "My Books", class: 'btn-block btn-black btn' %>
            
          <% end %>
          
          <%= form_for @topic, url: new_topic_path, method: :get do |f| %>
            
            
            <%= f.hidden_field :title, class: 'js-title' %>
            
            <%= f.hidden_field :author, class: 'js-author' %>
            
            
            <%= f.hidden_field :published, class: 'js-published' %>
            
            
            <%= f.hidden_field :thumbnail, class: 'js-thumbnail' %>
            
            
            <%= f.hidden_field :description, class: 'js-description' %>
            
            
            <%= f.submit "書籍を紹介", class: 'btn-block btn-black btn' %>
          <% end %>
        </div>
          
        
      </div>
      
      <div class="new-book-container2">
        
        <div class="new-book-info">
          <%= form_for @book do |f| %>
          
            <div class="search-result">
              <label for="search-title">書籍タイトル：</label>
              <p id="booktitle2"></p>
              <%= f.hidden_field :title, class: 'js-title2' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">著者：</label>
              <p id="bookauthor2"></p>
              <%= f.hidden_field :author, class: 'js-author2' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">出版日：</label>
              <p id="publisheddate2"></p>
              <%= f.hidden_field :published, class: 'js-published2' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">書籍サムネイル：</label>
              <p id="bookthumbnail2"></p>
              <%= f.hidden_field :thumbnail, class: 'js-thumbnail2' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">書籍概要：</label>
              <p id="bookdescription2"></p>
              <%= f.hidden_field :description, class: 'js-description2' %>
            </div>
            
            
            <%= f.submit "My Books", class: 'btn-block btn-black btn' %>
            
          <% end %>
          
          <%= form_for @topic, url: new_topic_path, method: :get do |f| %>
            
            
            <%= f.hidden_field :title, class: 'js-title2' %>
            
            <%= f.hidden_field :author, class: 'js-author2' %>
            
            
            <%= f.hidden_field :published, class: 'js-published2' %>
            
            
            <%= f.hidden_field :thumbnail, class: 'js-thumbnail2' %>
            
            
            <%= f.hidden_field :description, class: 'js-description2' %>
            
            
            <%= f.submit "書籍を紹介", class: 'btn-block btn-black btn' %>
            
            
          <% end %>
        </div>
          
        
      </div>
      
      <div class="new-book-container3">
        
          
        <div class="new-book-info">
          <%= form_for @book do |f| %>
            
            <div class="search-result">
              <label for="search-title">書籍タイトル：</label>
              <p id="booktitle3"></p>
              <%= f.hidden_field :title, class: 'js-title3' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">著者：</label>
              <p id="bookauthor3"></p>
              <%= f.hidden_field :author, class: 'js-author3' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">出版日：</label>
              <p id="publisheddate3"></p>
              <%= f.hidden_field :published, class: 'js-published3' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">書籍サムネイル：</label>
              <p id="bookthumbnail3"></p>
              <%= f.hidden_field :thumbnail, class: 'js-thumbnail3' %>
            </div>
            
            <div class="search-result">
              <label for="search-title">書籍概要：</label>
              <p id="bookdescription3"></p>
              <%= f.hidden_field :description, class: 'js-description3' %>
            </div>
            
            
            <%= f.submit "My Books", class: 'btn-block btn-black btn' %>
            
          <% end %>
          
          <%= form_for @topic, url: new_topic_path, method: :get do |f| %>
            
            
            <%= f.hidden_field :title, class: 'js-title3' %>
            
            <%= f.hidden_field :author, class: 'js-author3' %>
            
            
            <%= f.hidden_field :published, class: 'js-published3' %>
            
            
            <%= f.hidden_field :thumbnail, class: 'js-thumbnail3' %>
            
            
            <%= f.hidden_field :description, class: 'js-description3' %>
            
            
            <%= f.submit "書籍を紹介", class: 'btn-block btn-black btn' %>
            
            
          <% end %>
        </div>
          
        
      </div>
    </div>
  </div>
</div>


<script>
  
  let book1 = $('.new-book-container1');
  book1.hide();
  
  let book2 = $('.new-book-container2');
  book2.hide();
  
  
  let book3 = $('.new-book-container3');
  book3.hide();
  
  $('#title').change(function(){
    const intitle =$('#title').val();
    const url = 'https://www.googleapis.com/books/v1/volumes?q=intitle:' + intitle;
    
    $.getJSON(url, function(data){
      
      if(!data.totalItems) {
        
        $('#title').val('');
        
        $('#booktitle').text('');
        
        $('#bookauthor').text('');
        
        $('#publisheddate').text('');
        
        $('#bookthumbnail').text('');
        
        $('#bookdescription').text('');
        
      }else {
        
        book1.addClass('open');
        
        if(book1.hasClass('open')){
          book1.show();
        }
        
        $('#booktitle').text(data.items[0].volumeInfo.title);
        $('.js-title').val(data.items[0].volumeInfo.title);
        
        $('#bookauthor').text(data.items[0].volumeInfo.authors);
        $('.js-author').val(data.items[0].volumeInfo.authors);
        
        $('#publisheddate').text(data.items[0].volumeInfo.publishedDate);
        $('.js-published').val(data.items[0].volumeInfo.publishedDate);
        
        $('#bookthumbnail').html('<img src=\"' + data.items[0].volumeInfo.imageLinks.smallThumbnail + '\" />');
        $('.js-thumbnail').val(data.items[0].volumeInfo.imageLinks.smallThumbnail);
        
        $('#bookdescription').text(data.items[0].volumeInfo.description);
        $('.js-description').val(data.items[0].volumeInfo.description);
        
        
        
        book2.addClass('open2');
        
        if(book2.hasClass('open2')){
          book2.show();
        }
        
        $('#booktitle2').text(data.items[1].volumeInfo.title);
        $('.js-title2').val(data.items[1].volumeInfo.title);
        
        $('#bookauthor2').text(data.items[1].volumeInfo.authors);
        $('.js-author2').val(data.items[1].volumeInfo.authors);
        
        $('#publisheddate2').text(data.items[1].volumeInfo.publishedDate);
        $('.js-published2').val(data.items[1].volumeInfo.publishedDate);
        
        $('#bookthumbnail2').html('<img src=\"' + data.items[1].volumeInfo.imageLinks.smallThumbnail + '\" />');
        $('.js-thumbnail2').val(data.items[1].volumeInfo.imageLinks.smallThumbnail);
        
        $('#bookdescription2').text(data.items[1].volumeInfo.description);
        $('.js-description2').val(data.items[1].volumeInfo.description);
        
        
        
        book3.addClass('open3');
        
        if(book3.hasClass('open3')){
          book3.show();
        }
        
        $('#booktitle3').text(data.items[2].volumeInfo.title);
        $('.js-title3').val(data.items[2].volumeInfo.title);
        
        $('#bookauthor3').text(data.items[2].volumeInfo.authors);
        $('.js-author3').val(data.items[2].volumeInfo.authors);
        
        $('#publisheddate3').text(data.items[2].volumeInfo.publishedDate);
        $('.js-published3').val(data.items[2].volumeInfo.publishedDate);
        
        $('#bookthumbnail3').html('<img src=\"' + data.items[2].volumeInfo.imageLinks.smallThumbnail + '\" />');
        $('.js-thumbnail3').val(data.items[2].volumeInfo.imageLinks.smallThumbnail);
        
        $('#bookdescription3').text(data.items[2].volumeInfo.description);
        $('.js-description3').val(data.items[2].volumeInfo.description);
      }
      
    });
    
  });
</script>
